<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simpo.demo.dao.UserDao">

  <sql id="columnList" >
    id, loginName, userName,sex,password, delFlag, addTime,addUserId,addMark, updTime, updUserId,updMark
  </sql>

  <select id="getUser" resultType="com.simpo.demo.model.User" parameterType="java.lang.String">
      SELECT
      <include refid="columnList" />
      FROM sys_user
      WHERE id = #{id}
  </select>

</mapper>